{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your Car Hire Service account.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't request this password reset, please ignore this email. Your password won't be changed.

Thanks,
The Car Hire Service Team

---
This is an automated message, please do not reply to this email.
{% endautoescape %}
